.team_card{
    width: 450px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    cursor: pointer;
    background-color: #414141;
    color: white;
    height: 100px;
}


.team_card img {
    width: 50%;
    height: auto;
    margin-top: 10px;
}

.game img {
    width:45%;
    height: 120px;
    margin-top: inherit;
}

.team_card_info{
    background-color: rgb(120,120,120);
    color: white;
    width: 450px;
    height: 170px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}